body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #3f5ea7, #a7bcda);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  background-color:#a7bcda;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #3f5ea7;
  margin-bottom: 15px;
}

p {
  font-size: 18px;
  color: #1b1b1b;
}